data/
data_miRNA/
data_mirna/
!*.dvc
*.csv
*.dat
/mart_export.txt
files.txt
manifest.txt
miRNA.txt
/graph_breast_hsbm.xml.gz
/graph_breast_trisbm.xml.gz
.ipynb_checkpoints/
brca/
brca_subtypes/
slda/

figures/
tmp.xml.gz
*.pdf
*.png
/graph_breast_tetrasbm.xml.gz
/graph_breast_pentasbm.xml.gz
/graph_breast_ssm.xml.gz
/graph_breast_cnv.xml.gz
__pycache__
*.skip
